.entries .entry {
    width: 90%;
    height: 50px;
    margin: 5px auto;

    border-radius: 10px;
    
    display: flex;
  
    background-color: white;
}

.entries .entry:hover {
    opacity: 70%;
    width: 92%;
}
  
.entries .entry span {
    padding: 2px;
    display: block;
}

.entries .category {
    width: 30%;
}

.entries .category h3 {
    color: white;
    margin-top: 8px;
}
 
.entries .details, .date {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.entries .details{
    width: 30%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.entries .details p {
    color: white;
    font-size: 20px;
    float: left;
    margin-left: 30px;
    margin-top: 8px;
}

.entries .date {
    width: 20%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.entries .date p {
    color: white;
    margin-top: 11px;
    font-weight: bolder;
}
  
.entries .amount {
    width: 25%;
    color: white;
}

.entries .amount h1 {
    margin-top: 5px;
    color: black;
}

.entries a {
    text-decoration: none;
}

.entries .new {
    border: 3px solid black;
}

.entries .new h1 {
    margin: 2px auto;
}